---
import StickerCard from "./StickerCard.astro";
const { stickers, showCategory } = Astro.props;
---

<ul class="sticker_grid">
    {
        stickers.map((sticker) => {
            const firstPhrase =
                sticker.description[0]?.children[0]?.text.split(".")[0] + ".";

            // Get the categories of the sticker
            const categories = sticker.categories
                ?.map((category) => category.slug)
                .join(", ");

            return (
                <li data-category={sticker.categories
                        ?.map((c) => c.slug)
                        .join(" ")}>
                    <a href={`/stickers/${sticker.slug}`}>
                        <StickerCard
                            sticker={sticker}
                            firstPhrase={firstPhrase}
                            categories={categories}
                            showCategory={showCategory}
                        />
                    </a>
                </li>
            );
        })
    }
</ul>
